.comment-window{
    background-color: white;
    border-radius:15px;
    width:80%;
    height: auto;
    margin:auto;
    display: flex;
    flex-direction: row;
    padding:20px;
    margin-bottom:20px;
}

.vote-count{
    width:40px;
    background-color: hsl(228, 33%, 97%);
    border-radius:15px;
display:flex;
flex-direction:column;
margin-right:20px;

}
.vote-count>img{
    width:35%;
    margin:auto;
}
.vote-count>p{
    margin:auto;
    font-size:20px;
    font-weight:bold;
color: hsl(238, 40%, 52%);
}
.comment-header{
    width:100%;
    height:40px;
display: flex;
flex-direction: row;
align-items: center;
}
.comment-header>img{
    height:80%;
}
.cooment-date, .comment-header>p{
    padding-left: 10px;
}
.cooment-date{
    color:grey;  
}

.reply{
    margin-left: auto;
    cursor: pointer;
    color: hsl(238, 40%, 52%);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.comment-column{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:auto;
}
.repliedTo{
    width:87.9%;
    margin-left:11%;
    border-left: 1px solid hsl(223, 19%, 93%);
}

textarea{
    width:80%;
    margin-right:25px;
    border-radius:8px;
    border:1px solid hsl(237, 19%, 77%);
    height:80px;
    word-wrap: normal;
    padding:10px;
}
.avatar>img{
width:100%;
}
.avatar{
    width:8%;
    padding-right:15px;
}
input[type=submit]{
    width:20%;
height:40px;
border-radius:10px;
background-color:  hsl(238, 40%, 52%);
border:none;
color:white;
font-weight: 700;
font-size: 1em;
cursor: pointer;
}
.you{
    background-color:  hsl(238, 40%, 52%);
    color:white;
    height:40%;
    font-size: 12px;
    padding:1px 4px 1px 4px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin-left:7px;
}
.nodisplay{
    display: none;
}
form{
    display:flex;
    flex-direction: row;
    width:100%;
}
.delete{
display:flex;
   margin-left:auto;
}
.delete > p > img{
    margin-left:10px;
    margin-right:5px;
    font-weight: 700;
    width:12px;
}
.delete>p{
    cursor: pointer;
    font-family:  'Rubik', sans-serif;
    font-weight: 500;
   color: hsl(238, 40%, 52%);
}
.delete>p:first-child{
    color:#ED6368;
}
.delete>p:first-child::before{
    content: url("./src/images/icon-delete.svg");
    margin-right:5px;
}

.delete>p:first-child:hover{
    filter: invert(20%) brightness(100%) contrast(10%) opacity(50%);
}

.delete>p:last-child:hover, .reply:hover{
    filter: invert(20%) brightness(100%) contrast(10%) opacity(50%);
}

.delete>p:last-child::before{
    content: url("frontend/src/images/icon-edit.svg");
    margin-right:5px;
    margin-left: 15px;
}
.reply::before{
    content: url("frontend/src/images/icon-reply.svg");
}
.editable{
    width:97%;
    height:50px;
    margin-top:10px;
    margin-right:0px;
}
.update{
    display:flex;
    flex-direction: column;
align-items: flex-end;


}
input[type=submit]{
    width:100px;
    margin-top:10px;
}

.modal{
    width: 25%;
    height:auto;
    background-color: white;
    border-radius:10px;
    margin:auto;
    padding:20px;
}
.mask{
    width:100%;
    /* position:absolute; */
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, .4);
    height: 100%;
    top:0;
position: fixed;
}

.modal>span>button{
    border:none;
    width:45%;
    height:40px;
    border-radius: 10px;
    margin:auto;
    color:white;
    font-weight: 700;
    cursor:pointer;
}
span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cancel{
    background-color: hsl(211, 10%, 45%);
}
.accept{
    background-color:  hsl(358, 79%, 66%);
}
b{
   color: hsl(238, 40%, 52%);
}


@media screen and (max-width:600px){
    .comment-window{
        /* flex-direction: column; */
        flex-wrap: wrap-reverse;
        position:relative;
    }
    .vote-count{
        flex-direction: row;
        width:35%;
        height:40px;
    } 
    .vote-count>img {
        width: 15%;
    }
    .vote-count>p{
        font-size: 18px;
    }
.delete, .reply{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.modal{
    width:85%;
}

}